---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import
  "minima/skins/{{ site.minima.skin | default: 'classic' }}",
  "minima/initialize";

.page-content {
  text-align: justify;
}

.rouge-table {
  margin: 0;
  border-collapse: collapse;
  border-spacing: 0;

  pre, code {
    border: none;
  }
}